body {
  margin: auto;
}

  nav {
    li {
      width: 10%;
    }
  }

  header {
    background-image: url(../images/large.jpg), url(../images/repeat.jpg);
    background-position: center top, left bottom;
    background-repeat: no-repeat, repeat;
  }